.PricingPlans{
    width: 90%;
    margin: auto;
}
.AddAddon{
    width: 85%;
    margin: auto;
    select{
        height: 40px;
    }
}

.AddPlan{
    width: 85%;
    margin: auto;
    select{
        height: 42px;
    }
}

.ActivePlans{
    .buttonContainer{
        width: 85%;
        margin: auto;
    }
    
}
