.Player{
    .SetDropdown{
        .Dropdown{
            height: 50px;
        }
    }
    .uploadSec{
        .putLogo{
            
            height: 50px;
            width: 100% !important;
        }
        .logoPosition{
            width: 100% !important;
            height: 50px;
        }
        button{
            height: 50px;
        }
        input{
            height: 50px;
        }
    }
}